.content-login {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  
}
form{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.inputs-login {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(188, 143, 182);
  box-shadow: 5px 5px 11px 1px rgb(86, 86, 86);

  padding: 30px;
  align-items: center;

  border-radius: 10px;
}
.inputs-login h5 {
  align-self: flex-start;
}
input {
  width: 250px;
  border-radius: 5px;
  background-color: antiquewhite;
}

.error-message {
  color: rgb(159, 20, 20);
}
button{
    margin-top:10px;
    border-radius: 10px;
    padding:5px 30px;
}
.no-account{

 margin-top:20px;
}
.img-google {
  width: 10%;
}
.button-google {
  display: flex;
  align-items: center;
  justify-content: center;
}