.grid-products {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.plant-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(197, 177, 198, 0.472);
  max-height: 300px;
  border-radius: 20px;
  padding: 170px 0;
  border: 1px dotted rgb(100, 98, 98);
  transition: transform 0.3s ease-in-out;
}

.plant-card:hover {
  transform: scale(1.2);
}
.grid-products img {
  width: 150px;
  height: auto;
  max-height: 160px;
  border-radius: 10px;
  box-shadow: 5px 5px 11px 5px rgb(167, 135, 161);
  opacity: 100%;
}

button {
  background-color: rgb(185, 124, 165);
  box-shadow: 5px 5px 11px 5px rgb(86, 86, 86);
  border-color: black;
  padding: 10px 40px;
  border-radius: 10px;
}

button:disabled {
  background-color: rgb(206, 150, 187);
  border-color: black;
  cursor: not-allowed !important;
  border-radius: 5px;
  color: black;
}

button:hover {
  background-color: rgba(179, 110, 145, 0.684);
  border-color: black;
}

p {
  margin-bottom: 10px;
}

h3 {
  margin-top: 10px;
}

p span {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .grid-products {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
  }
}
